.wrapper{
    display: flex;
    height: 48px;
    align-items: stretch;
}

.searchBar{
    border: 14px 20px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 100%;
    border: 1px solid var(--color-black);
    width: 502px;
    flex-grow: 1;
}

.searchButton{
    border-radius: 0px 8px 8px 0px;
    height: 100%;
    padding: 14px 20px;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
}

.suggestions{
    position: absolute;
    top: 60px;
    background-color: var(--color-black);
    cursor: pointer;
    width: 773px;
    margin: auto;
    list-style: none;
}

